.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #283e55, #000044);
}

.container {
  background-color: #fff; 
  border-radius: 10px; 
  display: flex;
  max-width: 1200px;
  width: 90%;
  margin-top: -100px; 
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  background: #ffffff; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg, .acce, .ears, .eyes, .hair, .leg, .mouth, .neck, .nose {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eyes, .mouth, .acce{ z-index: 99;}
.hair {z-index: 98;}


.sidebar {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to top, #e0e0e0, #f5f5f5);
}

.main-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main-button {
  background-color: #074f70; 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
.main-button:hover {
  background-color: #4098d7;
}
.section-header {
  font-family: 'Indie Flower', cursive;
  font-size: 1.25rem;
  color: #333;
  align-self: flex-start;
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-self: flex-start;
}
button {
  font-family: 'Indie Flower', cursive;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.875rem;
  text-transform: uppercase;
}
button:hover {
  background-color: #2471a3;
  transform: scale(1.02);
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
  }
  .image-container {
    order: 1;
    border-radius: 10px 10px 0 0;
  }
  .sidebar {
    order: 2;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  .main-buttons {
    flex-direction: column;
  }
}
