.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.App-header {
  background: linear-gradient(to right, #283e55, #004175);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  width: 1200px;
  height: 800px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden; 
  position: relative; 
}

.image-container, .sidebar {
  transition: all 0.3s ease;
}

.image-container {
  flex-basis: 60%;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg, .acce, .ears, .eyes, .hair, .leg, .mouth, .neck, .nose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eyes, .mouth, .acce { z-index: 99; }
.hair { z-index: 98; }

.sidebar {
  flex-basis: 40%;
  padding: 2rem;
  display: flex;
  background: linear-gradient(to top, #f0f0f0, #ffffff);
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.main-buttons, .button-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}

.main-button, button {
  background-color: #008080;
  margin-bottom: 1rem;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.main-button::before, button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #00b8a9;
  transition: all 0.3s ease;
}

.main-button:hover::before, button:hover::before {
  left: 0;
}

.main-button:hover, button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 68, 53, 0.2);
  color: #fff;
}

.section-header {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 1rem;
}

@media (max-width: 1280px) {
  .container {
    width: 90%; /* Adjust width for screen size */
    height: auto; /* Adjust height to be auto to maintain aspect ratio */
    flex-direction: column; /* Stack children vertically */
  }
  
  .image-container, .sidebar {
    flex-basis: auto; /* Adjust flex-basis for vertical stacking */
    width: 100%; /* Ensure full width is used */
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Height must be auto to contain all content */
  }

  .image-container, .sidebar {
    flex-basis: auto;
    width: 100%; /* Full width for a stacked layout on small screens */
    order: 0; /* Reset the order to maintain layout */
  }

  .main-buttons, .button-container {
    justify-content: center; /* Center buttons on small screens */
  }
}